name: "Push derivations to cachix"
on:
  push:
    branches:
      - master
    paths:
      - 'flake.lock'
      - 'pkgs/**'
jobs:
  populate-cache:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: dorny/paths-filter@v3
      id: filter
      with:
        filters: |
          lockfile:
            - 'flake.lock'
          packages:
            - 'pkgs/**'
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable
    - uses: cachix/cachix-action@v15
      with:
        name: sumee
        authToken: '${{ secrets.CACHIX_AUTH }}'

    - name: push flake inputs
      if: steps.filter.outputs.lockfile == 'true'
      run: nix flake archive --json | jq -r '.path,(.inputs|to_entries[].value.path)'

    - name: push built derivations
      if: steps.filter.outputs.packages == 'true' || steps.filter.outputs.lockfile == 'true'
      run: nix run github:Mic92/nix-fast-build -- --no-link --no-nom --skip-cached
