name: "Evaluate"
on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - '**.nix'
jobs:
  evaluation:
    name: NixOS Evaluation
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: nixbuild/nix-quick-install-action@v34
      with:
        nix_conf: |
        keep-env-derivations = true
        keep-outputs = true
    - uses: cachix/cachix-action@v15
      with:
        name: sumee
    - name: Kaolin Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#kaolin
    - name: Greenery Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#greenery
    - name: Verdure Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#verdure
    - name: Graphite Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#graphite
    - name: Beryl Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#beryl
    - name: Quartz Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#quartz
