name: "Evaluate"
on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - '**.nix'
jobs:
  evaluation:
    name: Evaluate each Configuration one-by-one
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Kaolin Evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-build --flake .#kaolin

    - name: Greenery Evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-build --flake .#greenery

    - name: Verdure Evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-build --flake .#verdure

    - name: Graphite Evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-build --flake .#graphite

    - name: Beryl Evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-build --flake .#beryl

    - name: Quartz Evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-build --flake .#quartz
