name: "Evaluate"
on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - '**.nix'
jobs:
  evaluation:
    name: NixOS Evaluation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        hosts: [beryl, greenery, graphite, kaolin, quartz, verdure] 
    steps:
    - uses: actions/checkout@v5

    - name: Install Nix
      uses: nixbuild/nix-quick-install-action@v34
      with:
        nix_conf: |
          keep-env-derivations = true
          keep-outputs = true

    - name: Restore & Save Nix Store
      uses: nix-community/cache-nix-action@v6
      with:
        primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
        restore-prefixes-first-match: nix-${{ runner.os }}-
        gc-max-store-size-linux: 1G
        purge: true
        purge-prefixes: nix-${{ runner.os }}-
        purge-created: 0
        purge-last-accessed: P1DT12H
        purge-primary-key: never

    - name: Cachix readonly
      uses: cachix/cachix-action@v15
      with:
        name: sumee

    - name: ${{ matrix.hosts }} evaluation
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#${{ matrix.hosts }}
