name: "Evaluate"
on:
  workflow_dispatch:
  push:
    branches:
    - master
    paths:
    - '**.nix'
jobs:
  evaluation:
    name: NixOS Evaluation
    runs-on: ubuntu-latest
    strategy:
      matrix:
        shard: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    steps:
    - uses: actions/checkout@v5

    - name: Install Nix
      uses: nixbuild/nix-quick-install-action@v34
      with:
        nix_conf: |
          keep-env-derivations = true
          keep-outputs = true

    - name: Restore & Save Nix Store
      uses: nix-community/cache-nix-action@v6
      with:
        primary-key: nix-${{ runner.os }}-${{ hashFiles('**/*.nix', '**/flake.lock') }}
        restore-prefixes-first-match: nix-${{ runner.os }}-
        gc-max-store-size-linux: 1G
        purge: true
        purge-prefixes: nix-${{ runner.os }}-
        purge-created: 0
        purge-last-accessed: P1DT12H
        purge-primary-key: never

    - name: Cachix readonly
      uses: cachix/cachix-action@v15
      with:
        name: sumee

    - name: Kaolin Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#kaolin
    - name: Greenery Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#greenery
    - name: Verdure Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#verdure
    - name: Graphite Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#graphite
    - name: Beryl Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#beryl
    - name: Quartz Dry-Build
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild dry-build --flake .#quartz
