name: "Test"
on:
  workflow_run:
    workflows: ["Evaluate"]
    types: [completed]
    branches:
    - master
    paths:
    - '**.nix'
jobs:
  test:
    name: Dry-activate each Configuration one-by-one
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    steps:
    - uses: actions/checkout@v5
    - uses: cachix/install-nix-action@v31
      with:
        nix_path: nixpkgs=channel:nixos-unstable

    - name: Kaolin Test
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-activate --flake .#kaolin

    - name: Greenery Test
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-activate --flake .#greenery

    - name: Verdure Test
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-activate --flake .#verdure

    - name: Graphite Test
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-activate --flake .#graphite

    - name: Beryl Test
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-activate --flake .#beryl

    - name: Quartz Test
      run: nix shell nixpkgs#nixos-rebuild-ng --command nixos-rebuild-ng dry-activate --flake .#quartz
